body {
  font-family: Arial, sans-serif;
  background: rgba(87, 41, 11, 1);
}
h1{
    text-align: center;
    color:rgba(187, 126, 95, 1);
}
h2{
   color:rgba(187, 126, 95, 1);   
}
.sec1 {
  padding: 60px;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 25px;
}

/* CARD */
.card {
  background: rgba(187, 126, 95, 1);
  border-radius: 38px;
  padding: 15px;
  text-align: center;
  box-shadow: 0 10px 25px rgba(0,0,0,0.08);
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-8px);
}

.card img {
  width: 100%;
  height: 260px;
  object-fit: cover;
  border-radius: 12px;
  margin: 10px 0;
}

.card h3 {
  margin: 10px 0;
  color:rgba(87, 41, 11, 1) ;
}

.author {
  color: #777;
  font-size: 14px;
}

.rating {
  color: #f5b301;
  margin: 8px 0;
}

.price {
  display: block;
  font-size: 18px;
  margin: 10px 0;
  color: rgba(87, 41, 11, 1);
}

.buy {
  background: #c28b5b;
  color: rgba(87, 41, 11, 1);
  border: none;
  padding: 10px 18px;
  border-radius: 20px;
  cursor: pointer;
}

.buy:hover {
  background: #a97447;
}
.sec2{
     padding: 60px;
}
.sec3{
  padding: 60px;  
}
